@import url("https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900");

/* variables */
:root {
    /* colors */
    --primary-color: #7622E2;
    --secondary-color: #E6E6E6;
    --success-color: #55DA17;
    --error-color: #FF3636;
    --black-color: #151515;
    --white-color: #fff;
    --placeholder-color: rgba(21, 21, 21, 0.5);

    /* size */
    --height-standard-inputs: 37px;
    --height-standard-buttons: 25px;

    /* border radius */
    --border-radius: 4px;
    --border-style: 1px solid rgba(0, 0, 0, 0.1);

    /* fonts */
    --base-font-family: 'Inter', sans-serif;
    --base-font-size: 14px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--base-font-family)
}

body {
    background-color: var(--white-color);
}

section {
    width: 70%;
    margin: 0 auto;
}

@media (max-width: 1000px) {
    section {
        width: 90%;
        margin: 0 auto;
    }
}


p {
    color: var(--black-color);
    font-size: var(--base-font-size);
}

a {
    color: var(--black-color);
    cursor: pointer;
    font-size: var(--base-font-size);
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--base-font-family);
}





/* utilities */
.mt-1 {
    margin-top: 10px;
}

.mt-2 {
    margin-top: 20px;
}

.mt-3 {
    margin-top: 30px;
}

.mt-4 {
    margin-top: 40px;
}

.mt-5 {
    margin-top: 50px;
}

.mb-1 {
    margin-bottom: 10px;
}

.mb-2 {
    margin-bottom: 20px;
}

.mb-3 {
    margin-bottom: 30px;
}

.mb-4 {
    margin-bottom: 40px;
}

.mb-5 {
    margin-bottom: 50px;
}

.center {   
    display: grid;
    width: 100%;
    place-items: center;
}

.tag {
    display: inline-block;
    padding: 3px 10px;
    border-radius: 50px;
    background-color: rgb(108, 233, 233);
    color: black;
    font-size: 12px;
  }

.left {
    display: flex;
    justify-content: right;
}

.pointer {
    cursor: pointer;
}


/* forms */

form {
    display: grid;
    gap: 20px;
}

.content-wrapper {
    display: grid;
    gap: 10px;
}

label {
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    color: var(--black-color);
    font-size: var(--base-font-size);
}

.form-control {
    width: 100%;
    height: var(--height-standard-inputs);
    background: #FFFFFF;
    border: var(--border-style);
    border-radius: var(--border-radius);
    font-size: var(--base-font-size);
    padding: 0 10px;
}

/* text input style */
input[type="text"] {}

input[type="text"]::placeholder {
    color: var(--placeholder-color);
}

/* select style */
select {
    -webkit-appearance: none !important;
    background: url('../icons/dropdown.svg') 95% / 8px no-repeat !important;
}

/* date style */
input[type="date"] {}

.file-upload label {
    display: flex;
    padding: 16px 40px;
    justify-content: center;
    min-width: 205px;
    min-height: 104px;
    background: #FFFFFF;
    border: 1px dashed rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    cursor: pointer;
}

.file-upload label>div {
    display: grid;
    place-items: center;
}

.icon-small {
    height: 16px;
    width: 16px;
}

.icon-big {
    height: 45px;
    width: 45px;
}

.file-upload label>div>.description {
    font-size: 10px;
    line-height: 10px;
    color: gray;
}



.file-upload input[type="file"] {
    display: none;
}








/* buttons */
button {
    width: 150px;
    height: 25px;
    border-radius: var(--border-radius);
    border: none;
    cursor: pointer;
}

/* primary button */
.button-primary {
    background: var(--primary-color) !important;
    color: var(--white-color) !important
}

/* secondary button */
.button-black {
    background: var(--black-color) !important;
    color: var(--white-color) !important
}



/* flex-wrap deaults */

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    gap: 5px;
}


.flex-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
}



/* loading spinner */

.loader {
    border: 3px solid #000000;
    border-top: 3px solid rgb(255, 255, 255);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
